h1 {
    color: goldenrod;
    font-family: arial;
    font-size: 40px;
    font-weight: normal;
    font-variant: small-caps;
}

h2 {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



.paragraf1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    text-align: justify;
    text-indent: 30px;
    text-transform: uppercase;
    color: gold;
         
}

body { 
    font: italic normal 16px/18px helvetica,arial, sans-serif;
    background-color: lightblue;
    background-image: url(../images/background5.jpg);
}

a { text-decoration: none;
    color: orange;
}