h1 {
    color: #08ff00;
    font-family: arial;
    font-size: 40px;
    font-weight: normal;
    font-variant: small-caps;
}

h2 {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

p {
    font-family: georgia, serif;
    line-height: 30px;
    text-align: justify;
    text-indent: 20px;
    text-transform: uppercase;
}

body { 
    font: italic normal 16px/18px helvetica,arial, sans-serif;
}

a { text-decoration: none;}